@import 'variables';

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* Ratings detail table */
.double-weighted-round {
    color: $double-weighted-color;
}

.pane-player-player-stats .item-list {
    position: relative;
}

.user-round-controls {
    position: absolute;
    right: 0;
    top: 0;

    a {
        cursor: pointer;
        color: rgb(0, 123, 255) !important;
        text-decoration: underline !important;
        float: right;
    }
}


.panel-adjusted-rating {
    margin-bottom: 2em;

    .adjusted-rating {
        font-size: 16px;
    }

    .clear-rounds {
        color: red;

        &:hover {
            color: red;
        }
    }
}

/* Table */
#player-results-details {
    tr.user-added-round.odd,
    tr.user-added-round.odd td {
        background: #f7fad4;
    }
    tr.user-added-round.even,
    tr.user-added-round.even td {
        background: #f9f9ea;
    }

}

/* Add round modal */

#add-round-app {
    @import '../../node_modules/bootstrap/scss/bootstrap';
    @import '../../node_modules/bootstrap-vue/src/index.scss';

    input {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .form-group {
        border: none;
    }

    .cf button {
        float: right;
        margin-left: 5px;
        margin-top: 25px;
    }

    .delete-round {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        color: red !important;
        cursor: pointer;
    }
}

.modal-wrapper {
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
}

.modal-container {
    position: absolute;
    width: calc(100% - 40px);
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #666;
    border-radius: 6px;
    max-width: 500px;
}

.modal-header {
    position: relative;
}

.modal-click-off {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-close {
    position: absoute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: #666;
    cursor: pointer;

    &:hover {
        color: #333;
    }
}